body{
    background-image: url(stuff/background.jpg);
}

html{
    overflow-y: auto;
    height: 200%;
}

::-webkit-scrollbar{
    display: none;
}

p{
    font-family: 'Press Start 2P', system-ui;
    color: lavenderblush;
}

h1 ,h2, h3,h4, h5, h6{
    font-family: 'Press Start 2P', system-ui;
    color: lavenderblush;
}

h6{
    margin-left: 20px;
}

#popup {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 50%; 
    max-width: 400px;
    z-index: -1;
    border-width: 2px;
    border-style: solid;
    background-color: #241823;
    border-color: aliceblue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.topImg{
    width: 100%;
    height: 13%;
    min-height: 140px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(https://i.pinimg.com/originals/0e/1f/a9/0e1fa97eb8698a325ecded00dcb1c9fe.gif);
}

.profilePic{
    border-style: solid;
    border-radius: 50%;
    color: aliceblue;
    width: 15%;
    position: relative;
    bottom: 10px;
    margin-left: 15px;
}

.name{
    position: sticky;
    margin-left: 20px;
    margin-bottom: 20px;
    font-family: 'Press Start 2P', system-ui;
    color: lavenderblush;
}

.pp{
    width: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 10px;
    z-index: +1;
    position: unset;
    float: unset;
    margin-left: 30px;   
    display: flex;
    flex-direction: column;
}

.activity{
    position: relative;
    width: 90%;
    max-width: 450px;
    height: auto;
    left: 5%;
    border-radius: 10px;
    background-color: pink;
    margin-bottom: 20px; 
    display: flex;
}

#discordBar{
    width: 100%;
}

.aboutMe{
    border-style: solid;
    border-color: aliceblue;
    position: relative;
    width: 90%;
    left: 5%;
    border-radius: 10px;
    margin-bottom: 20px;
}

textarea{
    border-radius: 10px;
    border-width: 3px;
    border-color: aliceblue;
    width: 90%;
    max-width: 350px;
    border-style: solid;
    resize: none;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
}

.tableOne{
    width: 100%;
    max-width: 400px;
}

.insta{
    position: relative;
    margin-right: 200px;
}

