/* Body and HTML */
body {
    background-image: url(../stuff/images/11-9_HK_1500x2000_A.webp);
    background-size: cover;
}

html {
    overflow-y: auto;
    height: 200%;
}

/* Hide scrollbar */
::-webkit-scrollbar {
    display: none;
}



/* Fonts and Text */
p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Press Start 2P', system-ui;
    color: lavenderblush;
}

h6 {
    margin-left: 20px;
}

/* Popup Styles */
#popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 400px;
    z-index: -1;
    border: 2px solid aliceblue;
    background-color: #241823;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* Top Image */
.topImg{
    width: 100%;
    height: 13%;
    max-width: 400;
    min-height: 140px;
    position: relative;
    flex-direction: column;
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    background-image: url(../stuff/images/Not7.gif);
}


/* Profile Picture */
.profilePic {
    border: 2px solid aliceblue;
    border-radius: 50%;
    min-width: 50px;
    color: aliceblue;
    width: 15%;
    position: relative;
    bottom: 10px;
    margin-left: 15px;
}

/* Name */
.name {
    position: sticky;
    margin-left: 20px;
    margin-bottom: 20px;
    font-family: 'Press Start 2P', system-ui;
    color: lavenderblush;
}

/* Activity */
.activity {
    position: relative;
    width: 90%;
    max-width: 450px;
    height: auto;
    left: 5%;
    border-radius: 10px;
    background-image: url(../stuff/images/sparkles-stars.gif);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    display: flex;
}

/* Discord Bar */
#discordBar {
    width: 100%;
}

/* About Me Section */
.aboutMe {
    border: 2px solid aliceblue;
    position: relative;
    width: 90%;
    left: 5%;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Textarea */
textarea {
    border: 3px solid aliceblue;
    border-radius: 10px;
    width: 90%;
    max-width: 350px;
    resize: none;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
}


.socials-container {
    display: flex;
    justify-content: space-around; /* Dit verdeelt de ruimte gelijk tussen de items */
    align-items: center; /* Dit centreert de items verticaal */
}




.discord, .insta, .spotify {
    /* Voorbeeld van gemeenschappelijke stijlen */
    width: 50px; /* Of een andere maat */
    height: 50px; /* Of een andere maat */
    text-align: center;
    line-height: 50px; /* Voor verticale tekst centrering als de iconen tekst bevatten */
}


