/* opmaak */
#opmaak{
    border-style: solid;
}
h1{
    text-align: center;
}
h3{
    margin-top: 5%;
}

p{
    margin-left: 10px;
}

/* gradiant */

#gradiant {
    border-style: solid;
    height: 50px;
    background-image: linear-gradient(to right, aqua, white);
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

#gradiantcode {
    max-height: 0;
    overflow: hidden;
    transition: max-height 200ms;
}

#gradiant:hover + #gradiantcode {
    transition: max-height 500ms; 
    max-height: 200px;
}


/* list */

#list{
    border-style: solid;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

ul :nth-child(1){
    list-style: lower-roman;
}

ul :nth-child(2){
    list-style: none;
}

#listcode{
    max-height: 0px;
    overflow: hidden;
    transition: max-height 500ms;
}

#list:hover + #listcode{
    transition: max-height 500ms;
    max-height: 300px;
}

/* Tekst en typografie */

#tekst{
    border-style: solid;
    height: 100px;
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: start;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

#tekst > a{
    align-self: flex-end;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#tekst :nth-child(1){
    font-size: 15px;
}

#tekst :nth-child(2){
    font-size: 100%;
}

#tekstcode{
    max-height: 0px;
    overflow: hidden;
    transition: max-height 500ms;
}

#tekst:hover + #tekstcode{
    max-height: 300px;
    transition: max-height 500ms;
}

/* selectors */

#selectors{
    border-style: solid;
    height: fit-content;
}

/* boxmodelen */

#boxmodelen{
    border-style: solid;
    height: fit-content;
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: flex-end;
}

#boxmodelen > a{
    margin-left: auto;
}

#boxmodelen:hover + #boxmodelcode{
    cursor: crosshair;
    max-height: 1000px;
    transition: max-height 500ms;
}

#redbox{
    height: 20px;
    width: 20px;
    background-color: red;
    margin: 10px;
    border-color: blue;
    border-style: dashed;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(83, 15, 194, 0.5);
}

#bluebox{
    height: 20px;
    width: 20px;
    background-color: blue;
    margin: 10px;
    border-color: red;
    border-style: dashed;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(83, 15, 194, 0.5);
}

#greenbox{
    height: 20px;
    width: 20px;
    background-color: green;
    visibility: hidden;
    margin: 10px;
    border-color: white;
    border-style: dashed;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(83, 15, 194, 0.5);
}

#boxmodelcode{
    max-height: 0;
    overflow: hidden;
    transition: max-height 500ms;
}

/* flexbox */

#flexbox{
    border-style: solid;
    height: fit-content;
    display: flex;
}

#static{
    position: static;
}

#statictekst{
    margin: 0;
    margin-left: 7px;
}

#redboxflex1{
    height: 50px;
    width: 50px;
    background-color: red;
}

#blueboxflex1{
    height: 50px;
    width: 50px;
    background-color: blue;
}

#greenboxflex1{
    height: 50px;
    width: 50px;
    background-color: green;
}

/*------flex-------*/

#flex{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#flexbox > a {
    position: relative;
    align-self: flex-end;
    margin-left: auto;
}

#statictekst{
    margin: 0;
    margin-left: 7px;
}

#redboxflex2{
    height: 50px;
    width: 50px;
    background-color: red;
}

#blueboxflex2{
    height: 50px;
    width: 50px;
    background-color: blue;
}

#greenboxflex2{
    height: 50px;
    width: 50px;
    background-color: green;
}

/* responsive */

#responsive{
    border-style: solid;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width :480px){
    #responsive{
        background-color: aqua;
    }
    span:before{
        content: "smaller";
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    #responsive{
        background-color: blue;
    }
    span:before{
        content: "small";
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    #responsive{
        background-color: rgb(88, 88, 192);
    }
    span:before{
        content: "mid";
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    #responsive{
        background-color: rgb(64, 64, 145);
    }
    span:before{
        content: "big";
    }
}

@media (min-width: 1201px){
    #responsive{
        background-color: rgb(40, 40, 92);
    }
    span:before{
        content: "biger";
    }
}

#responsiveimage{
    border-style: solid;
    height: fit-content;
}

/* animation */

#animations{
    border-style: solid;
    height: fit-content;
}

#animation1{
    border-style: solid;
}

#buttonanime{
    height: 50px;
    width: 50px;
    margin: 10px;
    background-color: green;
    border-radius: 10px;
}

#buttonanime:hover{
    background-color: rgb(118, 202, 118);
    transform: scale(1.2);
}

#animation2{
    border-style: solid;
}

#buttonanimesake{
    height: 50px;
    width: 50px;
    margin: 10px;
    background-color: green;
    border-radius: 10px;
    animation-name: rotButton;
    animation-iteration-count: 2;
    animation-duration: 500ms;
}

@keyframes rotButton{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(40deg);}
    75%{transform: rotate(-40deg);}
    100%{transform: rotate(0deg);}
}

#animation3{
    border-style: solid;
}
 
#animation3 > div {
    margin: 30px;
}
  
#animation3 p {
    text-align: center;
}

.box {
    width: 40px;
    height: 40px;
    margin: 40px auto;
}
.box1 {
    background: rgba(7, 224, 36, 0.4);
    border-radius: 50%;
}
  
.box2 {
    background: rgba(7, 224, 36, 0.4);
    border-radius: 50%;
}
  
.box3 {
    background: rgba(7, 224, 36, 0.4);
    border-radius: 50%;
}
#animation3:hover{
    .box1{
      transform: scale(2);
      transition-duration: 300ms;
    }
    .box2{
      transition-delay: 500ms;
      transform: scale(2);
      transition-duration: 1s;
    }
    .box3{
      transition-delay: 1s;
      transform: scale(2);
      transition-duration: 2s;
    }
}
  
#animation3:not(:hover){
    .box1{
      transform: scale(1);
      transition-duration: 300ms;
    }
    .box2{
      transition-delay: 500ms;
      transform: scale(1);
      transition-duration: 1s;
    }
    .box3{
      transition-delay: 1s;
      transform: scale(1);
      transition-duration: 2s;
    }
}

#animation4{
    border-style: solid;
}

#bar1,#bar2,#bar3{
    height: 20px;
    width: 100px;
    background-color: blueviolet;
    margin: 10px;
}

@keyframes bar1anime {
    0%{width: 100px;}
    100%{width: 150px;}
}

@keyframes bar2anime {
    0%{width: 100px;}
    100%{width: 200px;}
}

@keyframes bar3anime {
    0%{width: 100px;}
    100%{width: 230px;}
}

@keyframes bar1animer {
    0%{width: 150px;}
    100%{width: 100px;}
}

@keyframes bar2animer {
    0%{width: 200px;}
    100%{width: 100px;}
}

@keyframes bar3animer {
    0%{width: 230px;}
    100%{width: 100px;}
}

#animation4:hover{
    #bar1{
        animation-name: bar1anime;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    #bar2{
        animation-name: bar2anime;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    #bar3{
        animation-name: bar3anime;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
}

#animation4:not(:hover){
    #bar1{
        animation-name: bar1animer;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    #bar2{
        animation-name: bar2animer;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    #bar3{
        animation-name: bar3animer;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
}

#animation5{
    border-style: solid;
}

@keyframes slideincube {
    0%{left: -90px;}
    50%{left: 0px;}
    100%{left: 90%;}
}

#slidecube{   
    animation: slideincube 2s;
    animation-fill-mode: forwards;
    position: relative; 
    height: 50px;
    width: 50px;
    margin: 10px;
    background-color: green;
    border-radius: 10px;}

#animation6{
    border-style: solid;
}

@keyframes pausecube {
    0%{left: 0px;}
    50%{left: 90%;}
    100%{left: 0px;}
}

#pauseCube{
    position: relative;
    animation: pausecube 3s;
    animation-iteration-count: infinite;
    height: 50px;
    width: 50px;
    margin: 10px;
    background-color: green;
    border-radius: 10px;
}

#animation6:not(:hover){
    #pauseCube{
        animation-name: pausecube;
        animation-play-state: paused;
    }
}

#animation7{
    border-style: solid;
}

@keyframes spin {
    0%{transform: rotate(1deg);}
    100%{transform: rotate(360deg);}
}

#vnyl{
    animation: spin 3s linear;
    animation-iteration-count: infinite;
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 100%;
    background-color: green;
    line-height: 50px;
}

#vnyl > p{
    color: white;
}

#animation8{
    border-style: solid;
}
